.*
.**
.**/**
*.vsix
bin/**
coverage/**
coverconfig.json
out/**/*.map
out/test/**
out/tools/**
package-lock.json
screenshots/**
src/**
stubs/.idea
stubs/.travis.yml
stubs/docker-compose.yml
stubs/Dockerfile
stubs/generate-stub-map
stubs/PhpStormStubsMap.php
stubs/test
test-reports/**
tsconfig.json
